[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
home_alarm = {path = ".", editable = true}
pre-commit = "*"
commitizen = "*"
flake8 = "*"
mkdocs-material = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock= "*"
pytest-asyncio = "*"
black = "==22.12.0"

[packages]
appdaemon = "==4.0.3"
